.story-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/wood.jpg") center/cover no-repeat;
  width: 80vw;
  height: 60vh;
  border-radius: 1vw;
}

.story-container-flex {
  width: 80vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-container-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 100%;
}

.story-container-text {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 50vw;
  height: 100%;
}



.story-container-answers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 50vw;
}

.story-img {
  width: 20vw;
}

.story-container-message {
  display: flex;
  align-items: center;
  height: 40vh;
  width: 50vw;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: normal;
  flex-wrap: wrap;
  text-align: justify;
  padding: 0 2vw;
  font-size: 1.5vw;
}

.story-span {
  display: inline-block;
  animation: letter-open 0.1s linear forwards;
  font-size: 1.5vw;
}

.story-btn {
    min-width: 15vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: .5s;
    margin: 1vw;
    padding: 1vh 1vw;
    border-radius: 1vw;
}

.story-btn-active {
    opacity: 1;
}

.story-btn:hover {
    box-shadow: 0 0 1vw .5vw rgba(0, 0, 0, 0.5);
    transition: .1s;
}

.story-btn:active {
    box-shadow: 0 0 1vw .1vw rgba(0, 0, 0, 0.5);
}