* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "GoudyTrajan", sans-serif;
  letter-spacing: 0.1vw;
  font-size: 1vw;
}

@font-face {
  font-family: "GoudyTrajan";
  src: url("../bin/goudytrajan_bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: #1f1f1f;
  color: white;
  overflow: none;
}

#container-main {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}

.container-left-side {
  width: 10vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.container-inside {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  overflow: hidden;
}

p {
  text-align: center;
  font-size: 1vw;
}

/* #logo {
}
#strenght {
}
#agallity {
}
#intelligence {
}
#universal {
}
#settings {
} */

/* секции вкладок */

.d-none {
  display: none;
}

.btn-menu {
  background-color: inherit;
  border: none;
}

#strenght1,
#agallity1,
#intelligence1,
#universal1,
#settings1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.7vw 0.7vw;
  overflow: hidden;
  margin-top: auto;
  width: 40%;
  margin-bottom: auto;
  padding: 3vh 0 3vh 2vw;
}

.card-npc {
  /* background-color: rgb(90, 14, 14); */
  /* border-radius: 1vw 1vw 0 0; */
  position: relative;
  cursor: pointer;
}

.card-npc:hover {
  transform: scale(1.5);
  z-index: 999;
}

.card-npc:hover video {
  border-radius: 0.2vw;
}

.left-side-logo-img {
  width: 5vw;
  cursor: pointer;
  /* border: 1px solid green; */
  border-radius: 50%;
  transition: 0.2s;
}

.left-side-logo-img:hover {
  transform: scale(1.1);
}

.npc-name {
  position: absolute;
  bottom: -1vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1vw;
  text-align: center;
  text-shadow: 2px 2px 2px black, 4px 4px 6px black, 4px 4px 6px black,
    4px 4px 6px black, 4px 4px 6px black, 4px 4px 6px black, 6px 6px 12px black;
  opacity: 0;
  transition: 0.3s;
  font-size: 0.5vw;
  pointer-events: none;
}

.npc-video {
  width: 5vw;
  border-radius: 0.2vw;
  background-color: black;
  opacity: 30%;
}

.npc-video:hover {
  /* box-shadow: 0 0 .5vw .1vw black; */
}

.card-npc:hover .npc-name {
  opacity: 100;
  font-size: 0.5vw;
  bottom: 1.5vh;
}

#container-strenght-inside,
#container-agallity-inside,
#container-intelligence-inside,
#container-universal-inside,
#container-settings-inside {
  display: flex;
}

#strength-info,
#agallity-info,
#intelligence-info,
#universal-info,
#settings-info {
  padding: 1vw;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  width: 90vw;
  height: 100vh;
  overflow: hidden;
}

#main1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

#balance-container {
  margin-bottom: 10vh;
}

#balance {
  font-size: 3vw;
}

#balance-per-sec {
  text-align: center;
  margin-top: 0.5vh;
}

hr {
  border-top: 0.1vw solid white;
}

.img-npc-info {
  max-width: 45vw;
  max-height: 70vh;
}
.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards-visual {
  width: 20vw;
  background-color: grey;
  height: 1vh;
  border-radius: 50vw;
}
.cards-visual::before {
  content: "";
  display: block;
  width: var(--before-width, 0%);
  height: 1vh;
  background-color: var(--before-color, white);
  border-radius: 50vw;
}
.cards-value {
  margin-left: 2vw;
  font-size: 1.5vw;
}
.cards-img {
  width: 3vw;
}

.per-sec-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40vw;
}
.per-sec-npc {
  font-size: 0.8vw;
}
.per-sec-attribute {
  font-size: 0.8vw;
}
.per-sec-all {
  font-size: 1vw;
}

.btn-update-lvl-npc {
  background-color: #1f1f1f;
  border: none;
  color: white;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: .1vw solid white;
  border-radius: .5vw;
  margin-top: 2vh;
  padding: 1vh 3vw;
  transition: .2s;
  opacity: 0;
}

.btn-update-lvl-npc:hover {
  padding: 1vh 5vw;
  box-shadow: 0 0 1vw .1vw white;
  letter-spacing: .5vw;
}

.btn-update-lvl-npc-container {
  display: flex;
  width: 40vw;
  justify-content: center;
  align-items: center;
}


#gold {
  font-size: inherit;
}


.canUpdate {
  transition: .3s;
  animation: upgrade .5s infinite linear;
}

@keyframes upgrade {
  0% {
  box-shadow: .1vw .1vw 0vw .1vw greenyellow;
  }
  33% {
  box-shadow: -.1vw .1vw 0vw .1vw rgb(47, 255, 220);
  }
  67% {
  box-shadow: -.1vw -.1vw 0vw .1vw rgb(144, 47, 255);
  }
  100% {
  box-shadow: .1vw -.1vw 0vw .1vw rgb(255, 47, 210);
  }
}

